.duck {
  width: 100px;
  height: auto;
  position: absolute;
}

.duck2 {
  width: 100px;
  height: auto;
  position: absolute;
}


.ouaf {
  width: 200px;
  height: auto;
  position: absolute;
}

html, body {
  min-height: 100%;
}

/* main {
  width: 100%;
  height: 1000px;
  background-image: url("../img/stage.png");
  background-size: cover;
} */
